<?php
$title = 'Profile';
$this->headTitle($title);

$form = $this->form;
$form->setAttributes(array(
    'action' => '',
    'method' => 'post',
    'class' => 'form-horizontal form-label-left'
));
$form->prepare();
?>

<div class="">    
    <?php echo $this->partial('layout/notifications'); ?>
    
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2><?php echo $title; ?></h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <?php echo $this->form()->openTag($form); ?>

                    <?php
                    $login = $form->get('login');
                    if (!isset($post->login) && isset($user)) {
                        $login->setValue($this->escapeHtml($user->login));
                    }

                    echo $this->formInput($login);
                    echo $this->formInput($form->get('passwd'));
                    echo $this->formInput($form->get('passwd2'));
                    ?>

                    <div class="ln_solid"></div>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-success btn-block center-block">Save</button>
                        </div>
                    </div>

                    <?php echo $this->form()->closeTag() ?>
                </div>
            </div>
        </div>
    </div>
</div>
