<?php
$form = $this->form;
$form->prepare();

$form->setAttribute('action', $this->url('auth/default', array('action' => 'register')));

// Set the method attribute for the form
$form->setAttribute('method', 'post');

// Render the opening tag
echo $this->form()->openTag($form);
?>
<div class="form_element">
    <?php echo $this->formRow($form->get('email')); ?>
</div>
<div class="form_element">
    <?php echo $this->formRow($form->get('passwd')); ?>
</div>
<div class="form_element">
    <?php echo $this->formElement($form->get('submit')) ?>
</div>
    

<?php echo $this->form()->closeTag() ?>