<?php echo $this->doctype(); ?>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <?php echo $this->headTitle('KingTracker')->setSeparator(' | ')->setAutoEscape(false) ?>

        <?php
        echo $this->headMeta()
                ->appendName('viewport', 'width=device-width, initial-scale=1.0')
                ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>

        <?php
        $this->headlink()->appendStylesheet($this->basePath('/vendors/bootstrap/css/bootstrap.min.css'));
        $this->headlink()->appendStylesheet($this->basePath('/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css'));
        $this->headlink()->appendStylesheet($this->basePath('/vendors/font-awesome/css/font-awesome.min.css'));

        $this->headlink()->appendStylesheet($this->basePath('/vendors/iCheck/skins/flat/green.css'));

        $this->headlink()->appendStylesheet($this->basePath('/theme/admin/css/maps/jquery-jvectormap-2.0.3.css'));
        $this->headlink()->appendStylesheet($this->basePath('/theme/admin/css/custom.css'));

        echo $this->headlink();
        ?>


        <script type="text/javascript" src="<?php echo $this->basePath('/vendors/jquery/jquery.min.js'); ?>"></script>
    </head>
    <body class="nav-md">
        <div class="container body">
            <div class="main_container">
                <div class="col-md-3 left_col">
                    <div class="left_col scroll-view">
                        <div class="navbar nav_title" style="border: 0;">
                            <a href="<?php echo $this->url('home'); ?>" class="site_title"><span>KingTracker</span></a>
                        </div>

                        <div class="clearfix"></div>

                        <!-- sidebar menu -->
                        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                            <div class="menu_section">
                                <ul class="nav side-menu">
                                    <!--<li><a href="<?php echo $this->url('home'); ?>"><i class="fa fa-home fa-fw"></i> Home</a></li>!-->
                                    <li><a href="<?php echo $this->url('admin/default', array('controller' => 'hosts', 'lang' => 'en')); ?>"><i class="fa fa-server fa-fw"></i> Hosts</a></li>
                                    <li><a><i class="fa fa-users fa-fw"></i> Players <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <!--<li><a href="#">All players</a></li>!-->
                                            <li><a href="<?php echo $this->url('admin/default', array('controller' => 'player', 'action' => 'admin')); ?>">Admins</a></li>
                                            <li><a href="#">Admins groups</a></li>
                                            <li><a href="#">Players database</a></li>
                                        </ul>
                                    </li>
                                    <li><a><i class="fa fa-cloud-download fa-fw"></i> LFS World <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <!--<li><a href="#">All players</a></li>!-->
                                            <li><a href="<?php echo $this->url('admin/default', array('controller' => 'lfsw', 'action' => 'pubstat')); ?>">Pubstat access</a></li>
                                        </ul>
                                    </li>
                                    <li><a><i class="fa fa-sliders fa-fw"></i> Settings <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <li><a href="<?php echo $this->url('admin/default', array('controller' => 'settings', 'action' => 'masterserver')); ?>">Master server</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- top navigation -->
                <div class="top_nav">
                    <div class="nav_menu">
                        <nav class="" role="navigation">
                            <div class="nav toggle">
                                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                            </div>
                            <?php if (isset($user)): ?>
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="">
                                        <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            <?php echo $user->login; ?> <span class=" fa fa-angle-down"></span>
                                        </a>
                                        <ul class="dropdown-menu dropdown-usermenu pull-right">
                                            <li>
                                                <a href="<?php echo $this->url('auth/default', array('controller' => 'Index', 'action' => 'profile')); ?>"><i class="fa fa-user pull-right"></i> Profile</a>
                                            </li>
                                            <li>
                                                <a href="<?php echo $this->url('auth/default', array('controller' => 'Index', 'action' => 'logout')); ?>"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            <?php endif; ?>
                        </nav>
                    </div>
                </div>
                <!-- /top navigation -->


                <!-- page content -->
                <div class="right_col" role="main">
                    <?php echo $this->content; ?>
                </div>
                <!-- /page content -->

                <!-- footer content -->
                <footer>
                    <div class="pull-right">
                        &copy; <?php echo date('Y'); ?> KingTracker <?php echo VERSION ?>
                    </div>
                    <div class="clearfix"></div>
                </footer>
                <!-- /footer content -->
            </div>
        </div>

        <?php
        $this->headScript()->prependFile($this->basePath('/theme/admin/js/custom.js'));

        $this->headScript()->prependFile($this->basePath('/vendors/fastclick/lib/fastclick.js'));
        $this->headScript()->prependFile($this->basePath('/vendors/nprogress/nprogress.js'));
        $this->headScript()->prependFile($this->basePath('/vendors/iCheck/icheck.min.js'));
        $this->headScript()->prependFile($this->basePath('/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js'));
        $this->headScript()->prependFile($this->basePath('/vendors/bootstrap/js/bootstrap.min.js'));

        echo $this->headScript();
        echo $this->inlineScript();
        ?>

    </body>
</html>
